{% load staticfiles %}

<link href='/static/css/footer.css' rel="stylesheet">

    <footer class="footer">
      <div class="container">
          <div class='left'>
              <p class="text-muted">
                  <span class="glyphicon glyphicon-copyright-mark">
              </span>2016 Ruiqi Ma, Liquidity - Real time Data Visualization
          </div>
        <div class='right'>
            <p class="text-muted">
            Supported by <a href="https://www.djangoproject.com/">Django</a>, <a href="http://getbootstrap.com/">Bootstrap</a>
                and <a href="http://www.rgraph.net/">RGraph</a>.
            </p>
        </div>




      </div>
    </footer>
