{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    {% if password_is_wrong %}  
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>  
            <h4>Error!</h4>Login Failed  
        </div>  
    {% endif %}      
    <div class="well">  
        <h1>Login</h1>  
        <p> </p>  
        <form role="form" class="form-horizontal" action="" method="post">  
            {% csrf_token %}  
            {% bootstrap_form form layout="horizontal" %}  
            <p class="form-actions">  
                <input type="submit" value="Login" class="btn btn-primary"> 

            </p>  
        </form>  
    </div>
{% endblock %}